<header>
    <nav>
        <a href="/" class="logo">
            <img src="/assets/img/js.png" alt="GreenOwl Logo" class="logo-schriftzug">
            <span class="logo-text" style="margin-left:8px; font-weight:bold; font-size:18px; vertical-align:middle;">JumpStone</span>
        </a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/blog/blog.html">Blog</a></li>
            <li><a href="/about-me">About Me</a></li>
            <li><a href="https://grueneeule.de/l/dc" target="_blank" rel="noopener noreferrer">Discord Server</a></li>
        </ul>
    </nav>
</header>
