<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h4>JumpStone</h4>
                <p><a href="https://jumpow.de/l/github">GitHub</a></p>
            </div>
            <div class="footer-section">
                <h4>Kontakt</h4>
                <p><a href="https://grueneeule.de/l/dc" target="_blank" rel="noopener noreferrer">Discord-Server beitreten</a></p>
            </div>
            <div class="footer-section">
                <h4>Andere Projekte</h4>
                <p><a href="https://grueneeule.de.de" target="_blank" rel="noopener noreferrer">GrüneEule</a></p>
                <p><a href="https://dmh-network.de" target="_blank" rel="noopener noreferrer">DMH Network</a></p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 JumpOW. Alle Rechte vorbehalten.</p>
        </div>
    </div>
</footer>