<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h4>GitHub</h4>
        <p><a href="https://jumpow.de/github">GitHub</a></p>
      </div>
      <div class="footer-section">
        <h4>Navigation</h4>
        <p><a href="https://jumpow.de/de">Home</a></p>
        <p>
          <a href="https://jumpow.de/de/index.html#projects">Projekte</a>
        </p>
        <p><a href="https://jumpow.de/de/about">Ich</a></p>
      </div>
      <div class="footer-section">
        <h4>Kontakt</h4>
        <p>
          <a
            href="https://jumpow.de/l/dc"
            target="_blank"
            rel="noopener noreferrer"
            >Discord Server</a
          >
        </p>
      </div>
      <div class="footer-section" style="max-width: 180px">
        <h4>Nachhaltigkeit</h4>
        <a
          href="https://www.netcup.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="https://www.netcup.com/uploads/netcup_oekostrom_c6af08e7b5.png"
            alt="netcup Ökostrom"
            style="width: 80px; height: auto; margin-top: 5px"
          />
        </a>
      </div>
    </div>
    <div
      class="footer-banner footer-bottom"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 20px 0;
        flex-wrap: wrap;
      "
    >
      <div
        style="
          text-align: center;
          display: flex;
          align-items: center;
          gap: 10px;
        "
      >
        <p>Domain by</p>
        <a
          href="https://www.netcup.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="https://cdn.grueneeule.de/img/badges/netcup_logo_RGB_color.png"
            width="125"
            height="auto"
            alt="netcup"
          />
        </a>
      </div>
      <div
        style="
          text-align: center;
          display: flex;
          align-items: center;
          gap: 10px;
        "
      >
        <p>Hosted by</p>
        <div style="display: flex; align-items: center; gap: 10px">
          <a
            href="https://index-hosting.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://cdn.grueneeule.de/img/badges/index-hosting_light.svg"
              width="150"
              height="auto"
              alt="Index-Hosting"
            />
          </a>
        </div>
      </div>
      <div
        style="
          text-align: center;
          display: flex;
          align-items: center;
          gap: 10px;
        "
      >
        <p>Deployed with</p>
        <a href="https://github.com" target="_blank" rel="noopener noreferrer">
          <img
            src="https://cdn.grueneeule.de/img/badges/GitHub_Logo_White.png"
            width="125"
            height="auto"
            alt="netcup"
          />
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>
        &copy; 2025 JumpStone.
        <a
          href="https://grueneeule.de/de/info/licenses/?tab=license_website_code"
          >Lizenz</a
        >
      </p>
      <p>Powered by GrüneEule</p>
      <p>Developed with 🦉 by JumpStone</p>
    </div>
    <div class="full-width-footer-logo">
      <div class="footer-logo-container">
        <img
          src="/assets/img/js-lettering.png"
          alt="GrüneEule"
          class="footer-logo-img"
        />
      </div>
    </div>
  </div>
</footer>
