<header>
  <nav>
    <!-- Logo links -->
    <a href="https://jumpow.de" class="logo">
      <img
        src="/assets/img/1.1 (550x550).png"
        alt="JumpStone Logo"
        class="logo-schriftzug"
      />
      <img
        src="/assets/img/js-lettering.png"
        alt="JumpStone logo-schriftzug"
        class="logo-schriftzug"
      />
    </a>

    <!-- Navigationslinks in der Mitte -->
    <div class="nav-center">
      <ul class="nav-links">
        <li><a href="https://jumpow.de">Home</a></li>
        <li>
          <a href="https://jumpow.de/index.html#projects">Projekte</a>
        </li>
        <li><a href="https://jumpow.de/about">Ich</a></li>
      </ul>
    </div>

    <!-- Rechte Seite mit Social Media und Source Button -->
    <div class="nav-right">
      <!-- Social Media Buttons -->
      <div class="social-card">
        <a
          href="https://jumpow.de/l/github"
          class="Btn github"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="svgContainer">
            <img
              src="/assets/img/badges/github-mark-white.png"
              alt="GitHub"
              class="social-icon"
            />
          </span>
          <span class="BG"></span>
        </a>

        <a
          href="https://jumpow.de/dc"
          class="Btn discord"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="svgContainer">
            <img
              src="/assets/img/badges/Discord-Symbol-White-square.png"
              alt="Discord"
              class="social-icon"
            />
          </span>
          <span class="BG"></span>
        </a>
      </div>
    </div>
  </nav>
</header>
